.body{
    width: 100%;
    height: 100%;
}

.left-container{
    display: flex;
    /* padding: 50px; */
    justify-content: center;
    width: 500px; 
    /* margin:auto; 
    margin-top: 50px; */
    flex-direction: column; 
    align-items: center; 
    /* border: 1px solid rgb(212, 212, 212);   */
    /* float: left;    */
}
.parent{
     display: flex;  
}

.name{
    padding-inline-end: 8px;
}
.header{
    font-family: webkit-pictograph;
    line-height: 1.3333;
    margin-left: -6%;
  
}
.chkbox{
    display: flex;
}
.title{
   margin-left: -72%;
} 


.button1{
   
    float: right ;
    margin-top: 40px !important;
 
}
.emp{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
} 
.button2{
    float: left ;
    margin-top: 40px !important;

}
button:hover {
    transition: 0.5s;
    transform: scale(1.04);
}

.email{
   
    margin-top: 20px;
    float: left ; 
}

.spanid{
    color:#b6b1b1;
}
.spanid2{
    color: black;
}
.right-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
     align-items: flex-start; 
     /* padding-right: 120px */
    /* padding-top: 170px; */
    /* float: right; */
    /* position: fixed;
    right:400px;
    top: 180px; */
}
.main{
     border: 1px solid rgb(212, 212, 212);    
     display: flex;
     justify-content: center;
     align-items: center;
     width: 668px;    
    /* padding-left: 1px;
    margin: auto; */
    padding: 48px 40px 36px 40px;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    min-height: 100vh;
}